/* style sheet for everything Process.js related */

.p_script_container {
  display: block;
  border:
}

.p_title {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: antiquewhite;
  text-align: center;
}

.p_canvas {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 40%;
  width: 40%;
  position: relative;
  margin: auto;

}

canvas {
  border: 5 solid white;
}
